<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style/dashboard.css">
</head>

<body>
    <div id="top-nav">
        <div id="username">
            {{username}}
        </div>
    </div>

    <div id="form">
        <input v-on:change="storeSelectedFileName" type="file" name="browse" value="select file." />

        <select v-model="type">
            <option v-for="(fileType, index) in fileTypes" :value="index">{{ fileType }}</option>
        </select>

        <input type="button" value="Process this file!" v-on:click="processFile"/>
    </div>
    <div id="transactions">
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>RawBillerName</th>
            </tr>
            <tr v-for="transaction in transactions">
                <td> {{ transaction.DateTime }} </td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.billerRawName }}</td>
            </tr>
        </table>
    </div>
    <script src="js/dashboard.js"></script>
</body>

</html>