<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Niffler</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style/index.css" >
  </head>
  <body>
    <div id="niffler-logo" >
        <!-- <button v-on:click="show = !show">
    Toggle
  </button> -->
      <transition name="fade">
    <span v-if="show" class="shiny" >
      <span class="inner-shiny">niffler
      </span>
    
  </span>
</transition>
</div>
    <!-- All of the Node.js APIs are available in this renderer process. -->
    <!-- We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>. -->

    <div id="login">
      
      <div v-if="loading">
        <div class="loader">Loading...</div>
      </div>

      <div v-else>

        <p v-if="noRegisteredUsers">Welcome to niffler!</p>
        <p v-else>{{message}}</p>
        <p v-if="noRegisteredUsers">Enter a username to continue 😁</p>

        <ul id="username_list" v-if="usernamesLoaded">
                                      <!-- <transition-group transition="stagger" name="fade-fast" stagger="100"> -->
          <li v-for="user in users" transition="staggered"
            stagger="100" v-on:click="selectUser(user.name)" >
            {{ user.name }}
          </li>
          <li ><input type="text" :placeholder="noRegisteredUsers ? 'username' : 'Someone new'" id="new-username-input" v-on:keyup.enter="registerNewName()" /></li>
                <!-- </transition-group> -->

        </ul>
      </div>
    <!-- <p>{{message}}</p> -->
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
